@use "./variables" as *;

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 500px;
    padding: 30px;

    &__heading {
        font-family: $font-title;
        font-size: 80px;
        text-align: center;
        border-bottom: 3px dotted $primary-color;
    }

    &__button {
        border: 3px solid $primary-color;
        font-family: $font-body;
        font-size: 18px;
        text-align: center;
        width: 250px;
        height: 70px;
        padding: 25px;
    }
}

@media screen and (min-width:$desktop-breakpoint) {

    .contact {
        &__heading {
            font-size: 110px;
        }

        &__button {
            width: 25vw;
            height: 7vh;
            font-size: 24px;
            font-weight: 500;
            padding: 18px 10px;
        }
    }
}