@use "./variables" as *;

.footer {
    height: 100px;
    background-color: $primary-color;
    display: flex;
    justify-content: center;
    padding: 30px;

    &__button {
        padding: 5px;
    }
}

@media screen and (min-width:$desktop-breakpoint) {
    .footer {
        &__button {
            padding: 5px;
            height: 5vh;
        }
    }
}