@use "./variables" as *;

.header {
    padding: 20px 10px;

    &__heading {
        font-size: 75px;
        font-weight: 400;
        font-family: $font-title;
        padding: 30px 10px;
    }

    &__description {
        width: 85vw;
        font-family: $font-body;
        line-height: 1.6;
        padding: 30px 10px;
    }
}

@media screen and (min-width:$desktop-breakpoint) {
    .header {
        display: flex;
        flex-direction: column;
        padding: 30px 10px;

        &__heading {
            padding-bottom: 70px;
            font-size: 90px;
            align-self: center;
        }

        &__description {
            font-size: 20px;
            padding: 0px 5vw;
            width: 60vw;
        }
    }
}