@use "./variables" as *;

.header {
    padding: 30px 10px;

    &__heading {
        font-size: 75px;
        font-weight: 400;
        font-family: $font-title;
        padding-bottom: 30px;
    }

    &__description {
        width: 308.64px;
        font-family: $font-body;
        padding: 30px 0px;
    }
}

@media screen and (min-width:$desktop-breakpoint) {
.header {
    display: flex;
    flex-direction: column;
    padding: 30px 10px;

    &__heading {
        align-self: center;
        padding-bottom: 70px;
        font-size: 90px;
    }

    &__description {
        font-size: 20px;
        padding: 0px 10px;
        width: 45vw;
    }
}
}