@use "./variables" as *;

.intro {
    padding: 30px 10px;

    &__heading {
        font-family: $font-title;
        font-size: 32px;
        font-weight: 700;
    }

    &__img {
        width: 100%;
        padding: 10px;
    }

    &__description {
        font-family: $font-body;
        font-size: 16px;
        padding: 10px;
    }

}

@media screen and (min-width:$desktop-breakpoint) {

    .intro {
        padding: 40px 10px;
        display: grid;
        grid-template-areas:
            "heading img"
            "description1 img"
            "description2 img";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 2fr;


        &__heading {
            font-size: 48px;
            grid-area: heading;
            padding: 20px 0px;
        }

        &__img {
            grid-area: img;
        }

        &__description {
            grid-area: description;
            font-size: 18px;
            padding: 20px 0;
            width: 50vw;

            &--1 {
                grid-area: description1;
            }

            &--2 {
                grid-area: description2;
            }
        }

    }
}