@use "./variables" as *;

.intro {
    padding: 30px 10px;

    &__heading {
        font-family: $font-title;
        font-size: 32px;
        font-weight: 700;
        padding: 20px 10px;
    }

    &__img {
        width: 100%;
        padding: 40px 10px;
    }

    &__description {
        font-family: $font-body;
        font-size: 16px;
        line-height: 1.6;
        padding: 10px;
    }
}

@media screen and (min-width:$desktop-breakpoint) {

    .intro {
        padding: 80px 10px;
        display: grid;
        grid-template-areas:
            "heading img"
            "description1 img"
            "description2 img";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;

        &__heading {
            font-size: 48px;
            grid-area: heading;
            padding: 30px 50px;
        }

        &__img {
            grid-area: img;
            padding: 0px 10px;
        }

        &__description {
            grid-area: description;
            font-size: 18px;
            padding: 10px 50px;
            width: 60vw;

            &--1 {
                grid-area: description1;
            }

            &--2 {
                grid-area: description2;
            }
        }
    }
}