@use "./variables" as *;

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__name {
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 700;
        font-family: $font-title;
        border-bottom: 3px solid $primary-color;
    }

    &__button {
        display: none;
    }
}

@media screen and (min-width:$desktop-breakpoint) {
    .navigation {
        display: grid;
        grid-template-columns: 4fr 6fr 1fr 1fr 1fr;
        gap: 5px;
        padding: 50px 60px;

        &__name {
            font-size: 48px;
        }

        &__button {
            display: unset;
            text-decoration: none;
            text-align: center;
            color: black;
            font-family: $font-body;
            width: 10vw;
            padding: 5px;
            border-bottom: 3px solid $primary-color;

            &--about {
                grid-column-start: 3;
            }
        }
    }
}