@use "./variables" as *;

.projects {
    padding: 20px 10px;

    &__heading {
        font-family: $font-title;
        font-size: 32px;
        font-weight: 700;
    }

    &__image {
        height: 265px;
        background-color: black;
    }

    &__title {
        font-family: $font-title;
        font-size: 32px;
        padding-right: 5vw;
    }

    &__nav {
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        display: none;
    }

    &__button {
        padding: 0px 10px;
        font-family: $font-body;
        font-size: 10px;
        font-weight: 600;
    }

    &__cards {

        padding: 20px 0px;

        &--skipped {
            display: none;
        }
    }
}

@media screen and (min-width:$desktop-breakpoint) {

    .projects {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        &__heading {
            width: 100%;
            font-size: 48px;
            padding-bottom: 30px;
        }
        &__title {
            padding-right: 0px;
        }
        &__buttons {
            display: flex;
        }

        &__cards {
            width: 30%;
            padding: 10px;

            &--skipped {
                display: unset;
            }
        }

    }
}