@use "./variables" as *;

.projects {
    padding: 20px 10px;

    &__heading {
        font-family: $font-title;
        font-size: 32px;
        font-weight: 700;
        padding: 20px 10px 0px 10px;
    }

    &__title {
        font-family: $font-title;
        font-size: 32px;
        padding-right: 5vw;
    }

    &__image {
        height: 35vh;
        width: 100%;
        background-color: black;
    }

    &__nav {
        padding: 10px 0px;
        display: flex;
        justify-content: space-between;
    }

    &__buttons {
        display: none;
    }

    &__button {
        padding: 0px 10px;
        font-family: $font-body;
        font-size: 10px;
        font-weight: 600;
    }

    &__cards {
        padding: 20px 10px;

        &--skipped {
            display: none;
        }
    }
}

@media screen and (min-width:$desktop-breakpoint) {
    .projects {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.5fr 2fr 2fr;
        padding: 0px 50px;

        &__heading {
            grid-column: 1 / -1;
            font-size: 48px;
            padding: 30px 0px;
        }

        &__image {
            height: 20vh;
        }

        &__title {
            font-size: 25px;
        }

        &__buttons {
            display: flex;
        }

        &__cards {
            padding: 10px;

            &--skipped {
                display: unset;
            }
        }
    }
}