@use "./variables" as *;

.skills {
    display: none;
}

@media screen and (min-width:$desktop-breakpoint) {

    .skills {
        display: unset;
        padding: 30px 10px;
        
        &__text {
            display: flex;
            &--heading {
                font-family: $font-title;
                font-size: 48px;
                font-weight: 700;
                padding: 60px;
            }

            &--description {
                font-family: $font-body;
                font-size: 14px;
                padding: 60px;
                padding-right: 10px;
            }
        }

        &__icons {
            display: flex;
            justify-content: space-between;
            padding: 60px 20vw;
        }

        &__icon {
            width: 50px;
            height: 70px;
        }

    }
}