@use "./variables" as *;
@use "./navigation";
@use "./header";
@use "./intro";
@use "./skills";
@use "./projects";
@use "./contact";
@use "./footer";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
