@use "./variables" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;

    &__name {
        text-decoration: none;
        color: black;
        font-size: 24px;
        font-weight: 700;
        font-family: $font-title;
    }

    &__button {
        display: none;
    }
}

.header {
    padding: 30px 0px;

    &__heading {
        font-size: 75px;
        font-weight: 400;
        font-family: $font-title;
        padding-bottom: 30px;
    }

    &__description {
        width: 308.64px;
        font-family: $font-body;
        padding: 30px 0px;
    }
}

.intro {
    padding-bottom: 30px;

    &__heading {
        font-family: $font-title;
        font-size: 32px;
        font-weight: 700;
    }

    &__description {
        font-family: $font-body;
        font-size: 16px;
    }
}

.skills {
    display: none;
}

.projects {

    &__heading {
        font-family: $font-title;
        font-size: 32px;
        font-weight: 700;
    }

    &__image {
        height: 265px;
        background-color: black;
    }

    &__title {
        font-family: $font-title;
        font-size: 32px;
        padding-right: 50px;
    }

    &__nav {
        padding: 5px;
        display: flex;
        justify-content: space-between;
    }

    &__cards {

        &--4 {
            display: none;
        }

        &--5 {
            display: none;
        }

        &--6 {
            display: none;
        }
    }
}

.contact {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    padding: 30px;

    &__heading {
        font-family: $font-title;
        font-size: 80px;
        text-align: center;
    }

    &__button {
        border: 1px solid black;
        font-family: $font-body;
        font-size: 18px;
        text-align: center;
        width: 272px;
        height: 79px;
        padding: 25px;
    }
}

.footer {
    height: 100px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding: 30px;

    &__button {
        padding: 10px;
    }
}

@media screen and (min-width:1440px) {

    .navigation {
        display: grid;
        grid-template-columns: 2fr 6fr 1fr 1fr 1fr;

        &__name {
            font-size: 48px;
        }

        &__button {
            display: unset;
            text-decoration: none;
            color: black;
            font-size: 20px;
            font-weight: 400;
            font-family: $font-title;

            &--about {
                grid-column-start: 3;
            }
        }
    }

    .header {
        display: flex;
        flex-direction: column;
        padding: 30px 40px;

        &__heading {
            align-self: center;
            padding-bottom: 70px;
            font-size: 128px;
        }

        &__description {
            font-size: 20px;
            padding: 0px 10px;
            width: 45vw;
        }

    }

    .intro {
        height: 45vh;
        padding: 40px 0px;
        display: grid;
        grid-template-areas:
            "heading img"
            "description img";
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 4fr;


        &__heading {
            font-size: 48px;
            grid-area: heading;
            padding: 20px 0px;
        }

        &__img {
            grid-area: img;
        }

        &__description {
            grid-area: description;
            font-size: 18px;
            padding: 20px 0;
            width: 50vw;
        }

    }

    .skills {
        display: unset;
        
        &__text {
            display: flex;
            &--heading {
                font-family: $font-title;
                font-size: 48px;
                font-weight: 700;
            }

            &--description {
                font-family: $font-body;
                font-size: 16px;
                font-weight: 400;
                padding-left: 20vw;
            }
        }

        &__icons {
            display: flex;
            justify-content: space-evenly;
            padding: 60px;
        }

    }

}