@import url("https://fonts.googleapis.com/css2?family=Cormorant&family=Inter&display=swap");
.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.navigation__name {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 700;
  font-family: Cormorant, sans-serif;
  border-bottom: 3px solid rgb(213, 191, 168);
}
.navigation__name--last {
  color: rgb(213, 191, 168);
}
.navigation__button {
  display: none;
}

@media screen and (min-width: 1024px) {
  .navigation {
    display: grid;
    grid-template-columns: 4fr 6fr 1fr 1fr 1fr;
    gap: 5px;
    padding: 50px 60px;
  }
  .navigation__name {
    font-size: 48px;
  }
  .navigation__button {
    display: unset;
    text-decoration: none;
    text-align: center;
    color: #505739;
    font-family: Inter, sans-serif;
    font-size: 15px;
    width: 8vw;
    padding: 3px 5px;
    margin: 0px 10px;
    border-bottom: 2px solid rgb(213, 191, 168);
    border-radius: 1px;
  }
  .navigation__button--about {
    grid-column-start: 3;
  }
  .navigation__button:active {
    position: relative;
    top: 4px;
  }
}
.header {
  padding: 20px 10px;
}
.header__heading {
  font-size: 75px;
  font-weight: 400;
  font-family: Cormorant, sans-serif;
  padding: 30px 10px;
  text-shadow: 5px 5px 10px rgb(213, 191, 168);
}
.header__heading--lineOne {
  padding: 30px 10px 0px 10px;
}
.header__heading--lineTwo {
  padding: 0px 10px 0px 10px;
  border-bottom: 5px solid rgb(213, 191, 168);
}
.header .profilePicture {
  display: none;
}
.header__description {
  width: 85vw;
  font-family: Cormorant, sans-serif;
  line-height: 1.6;
  padding: 30px 10px;
  margin: 0px 7px;
  border-left: 3px dotted rgb(213, 191, 168);
}

@media screen and (min-width: 1024px) {
  .header {
    display: grid;
    grid-template-columns: 1.2fr 0.7fr 1fr;
    grid-template-rows: 1.5fr 1fr;
    padding: 30px 10px 30px 100px;
    background: linear-gradient(90deg, white 20%, rgb(213, 191, 168) 100%);
  }
  .header__heading {
    padding-bottom: 20px;
    align-self: center;
    width: 30vw;
  }
  .header__heading--lineOne {
    grid-row-start: 1;
  }
  .header__heading--lineTwo {
    margin-right: 30px;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  .header .profilePicture {
    display: unset;
    height: 40vh;
    -webkit-clip-path: circle(35% at 50% 55%);
            clip-path: circle(35% at 50% 55%);
    filter: brightness(110%);
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .header__description {
    width: 20vw;
    height: 40vh;
    padding-top: 80px;
    font-size: 30px;
    grid-row-start: 1;
    grid-row-end: 3;
  }
}
@media screen and (min-width: 1440px) {
  .header__description {
    padding-top: 170px;
  }
}
.intro {
  padding: 30px 10px;
}
.intro__heading {
  font-family: Cormorant, sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 10px;
  text-shadow: 5px 5px 10px #505739;
}
.intro__img {
  width: 100%;
  padding: 40px 10px;
}
.intro__description {
  font-family: Inter, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  padding: 10px;
}

@media screen and (min-width: 1024px) {
  .intro {
    padding: 60px 10px 80px 10px;
    display: grid;
    grid-template-areas: "heading img" "description1 img" "description2 img";
    grid-template-columns: 1fr 1fr 0.07fr;
    grid-template-rows: 0.2fr 0.3fr 1fr;
  }
  .intro__heading {
    font-size: 48px;
    grid-area: heading;
    padding: 30px 50px;
    width: 40vw;
  }
  .intro__img {
    grid-area: img;
    padding: 0px 10px;
  }
  .intro__description {
    grid-area: description;
    font-size: 18px;
    padding: 10px 50px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .intro__description--1 {
    grid-area: description1;
  }
  .intro__description--2 {
    grid-area: description2;
  }
}
.skills {
  display: none;
}

@media screen and (min-width: 1024px) {
  .skills {
    display: unset;
    padding: 30px 10px;
  }
  .skills__text {
    display: flex;
  }
  .skills__text--heading {
    font-family: Cormorant, sans-serif;
    font-size: 48px;
    font-weight: 700;
    padding: 60px;
    text-shadow: 5px 5px 10px #505739;
  }
  .skills__text--description {
    font-family: Inter, sans-serif;
    font-size: 14px;
    padding: 80px 200px 50px 120px;
    border-top: 5px solid rgb(213, 191, 168);
    border-right: 5px double rgb(213, 191, 168);
  }
  .skills__icons {
    display: flex;
    justify-content: space-between;
    padding: 60px 20vw;
  }
  .skills__icon {
    width: 50px;
    height: 70px;
  }
}
@media screen and (min-width: 1440px) {
  .skills__text--description {
    padding-left: 240px;
  }
}
.projects {
  padding: 20px 10px;
}
.projects__heading {
  font-family: Cormorant, sans-serif;
  font-size: 32px;
  font-weight: 700;
  padding: 20px 10px 0px 10px;
  text-shadow: 5px 5px 10px #505739;
}
.projects__title {
  font-family: Cormorant, sans-serif;
  font-size: 32px;
}
.projects__image {
  height: auto;
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.projects__nav {
  padding: 10px 0px;
  display: flex;
  justify-content: space-between;
}
.projects__link {
  padding-right: 15px;
}
.projects__buttons {
  display: none;
}
.projects__button {
  padding: 0px 10px;
  font-family: Inter, sans-serif;
  font-size: 10px;
  font-weight: 600;
}
.projects__cards {
  margin: 20px 10px;
  border-bottom: 5px double rgb(213, 191, 168);
  background: linear-gradient(180deg, white 60%, rgb(213, 191, 168) 100%);
}
.projects__cards--skipped {
  display: none;
}

@media screen and (min-width: 1024px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 2fr;
    padding: 0px 50px;
  }
  .projects__heading {
    grid-column: 1/-1;
    font-size: 48px;
    padding: 30px 0px;
  }
  .projects__image {
    height: 20vh;
  }
  .projects__title {
    font-size: 25px;
  }
  .projects__link {
    padding: 0px 5px;
  }
  .projects__buttons {
    display: flex;
  }
  .projects__cards {
    padding: 10px;
  }
  .projects__cards--skipped {
    display: unset;
  }
}
@media screen and (min-width: 1440px) {
  .projects__title {
    padding-right: 13vw;
  }
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 500px;
  padding: 30px;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%23f7f2ee' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%23eee5dc' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%23e6d9cb' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%23ddccb9' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%23D5BFA8' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
  background-size: cover;
}
.contact__heading {
  font-family: Cormorant, sans-serif;
  font-size: 80px;
  text-align: center;
}
.contact__button {
  border: 3px solid #505739;
  font-family: Inter, sans-serif;
  font-size: 18px;
  text-align: center;
  width: 250px;
  height: 70px;
  padding: 20px;
}

@media screen and (min-width: 1024px) {
  .contact__heading {
    font-size: 110px;
    border-bottom: 6px double #505739;
  }
  .contact__button {
    width: 25vw;
    height: 7vh;
    font-size: 24px;
    font-weight: 500;
    padding: 15px;
  }
}
.footer {
  height: 100px;
  background-color: rgb(213, 191, 168);
  display: flex;
  justify-content: center;
}
.footer__button {
  padding: 5px;
}

@media screen and (min-width: 1024px) {
  .footer__button {
    padding: 20px 40px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}/*# sourceMappingURL=main.css.map */